<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <service
            android:name="dev.pp_browser.app.PpFirebaseMessagingService"
            android:exported="false"
            tools:node="replace">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="dev.pp_browser.app.PpFirebaseMessagingServiceStub"
            tools:node="remove" />
    </application>
</manifest>
